.card{
   
     width: 400px;
     padding: 35px;
     position: absolute;
     top: 50%;
     left: 50%;
    transform: translate(-50%,-50%);
    background: hsla(205, 46%, 30%, 1);
    background:linear-gradient(70deg,rgb(54, 97, 127)0%,rgb(134, 71, 124)100%);
     /*background-color: rgb(231, 240, 247); */
   
   
}
a:visited {
    color: rgb(176, 177, 186);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(24, 24, 89);
  }
  .btn-primary{ margin-left: 258px;
    padding-left: 20px;
    padding-right: 20px;
 }
 
 .h1, h1 {
   
    margin-bottom: 10px;
 }
 .color{
  color: rgb(239, 239, 239);
 }
 .color1{
  color: rgb(176, 177, 186);
 }
