<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center"> 
                    <h1 class="margin-top color" style="font-weight:200 bold;">Forgot Password ?</h1>
                </div>
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label color1">Enter email</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text color1">We'll send a link to reset your password.</div>
                        </div>
                       
                        <button type="submit" class="btn btn-primary btn-margin">Send mail</button>
                      </form>
                      
            </div>
        </div>
    </div>
</div>
