<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center"> 
                    <h1 class="color" >Sign in</h1>
                    
                </div>
                <form>
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label color1">Full Name</label>
                            <input type="Text" class="form-control" id="exampleInputPassword1">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label color1">Phone Number</label>
                            <input type="Number" class="form-control" id="exampleInputPassword1">
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label color1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label color1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        
                        <button type="submit" class="btn btn-primary md-2">Login</button>
                      </form>
                      <a routerLink="/login">Already registered? Click here to Login</a>
                    </form>
            </div>
        </div>
    </div>
</div>

